li a {
    color: green;
}

.form-input {
    width: 500px;
}

.invoice-container {
    display: flex;
    justify-content: space-between;
}

.info-container {
    width: 50%;
}

.item-container {
    width: 60%;
    margin-top: 10px;
}

.button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}