li a {
    color: green;
}

.form-item {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.empty-form-item {
    display: none;
}

.form-input {
    width: 500px;
    margin-left: 20px;
}

.invoice-container {
    display: flex;
}

.info-container {
    margin-top: 20px;
}

.item-container {
    /* width: 60%; */
    margin-top: 10px;
}

.button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}