{% extends "invoiceparser/base.html" %}
{% load static %}
{% block content %}

<h3 class='mb-3'>Compare</h3>
<div class="container-fluid">
  <div class="row">
    <div class="row col">
      <div class="dropdown mb-3 col-md-3 first">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Select Supplier
        </button>
        <div class="dropdown-menu">
          <h6 class="dropdown-header">Select Supplier</h6>
          {% for supplier in supplier_list %}
          <a class="dropdown-item first-suppler-select-invoice-item" href="#"
            data-id="{{ supplier.id }}">{{ supplier }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="input-group mb-3 col-md-10">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
        </div>
        <input type="text" class="form-control" id="searchText1" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
    <div class="row col">
      <div class="dropdown mb-3 col-md-3 second">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Select Supplier
        </button>
        <div class="dropdown-menu">
          <h6 class="dropdown-header">Select Supplier</h6>
          {% for supplier in supplier_list %}
          <a class="dropdown-item second-suppler-select-invoice-item" href="#"
            data-id="{{ supplier.id }}">{{ supplier }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="input-group mb-3 col-md-10">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
        </div>
        <input type="text" class="form-control" id="searchText2" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
  </div>
</div>


<div class="row">

  <table class="table table-striped table-bordered col" id="firstTable">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <table class="table table-striped table-bordered col" id="secondTable">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

{% comment %} <table class="table table-striped table-bordered" id="secondTable">
  <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table> {% endcomment %}

{% endblock content %}