{% extends "invoiceparser/base.html" %}
{% block content %}
  <h1>Compare</h1>

  <h2>Suppliers</h2>
  <select name="supplier-select">
      <option value="">---------</option>
      {% for supplier in supplier_list %}
          <option value="{{ supplier.id }}">{{ supplier }}</option>
      {% endfor %}
  </select>
  <select name="supplier-select" id="supplier-select">
  {% for supplier in supplier_list %}
      <option value="{{ supplier.id }}">{{ supplier }}</option>
  {% endfor %}
  </select>

  <table id="thetable">
      <tr>
          <th>Header 1</th>
          <th>Header 2</th>
      </tr>
      <tr>
          <td>row 2, cell 1</td>
          <td>row 2, cell 2</td>
      </tr>
  </table>

{% endblock content %}

{% block javascript %}

  <script>
    $("#supplier-select").change(function () {
      $.ajax({                   
        url: "/invoiceparser/ajax/" + this.value,
        success: function (data) {
          console.log(data) 
          const invoice_items = data.invoice_items;
          let html = '';
          for(let i = 0; i < invoice_items.length; i++)
                      html += '<tr><td>' + invoice_items[i].description + '</td><td>' + invoice_items[i].price + '</td></tr>';
          $('#thetable tr').first().after(html);
        }
      });

    });
  </script>

{% endblock javascript %}