{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'invoiceparser/style.css' %}">

<h2>Suppliers</h2>
{% if supplier_list %}
    <ol>
    {% for supplier in supplier_list %}
        <li><a href="{% url 'invoiceparser:detail' supplier.id %}"><b>{{ supplier.supplier_name }}</a></b>
        <b>{{supplier.supplier_location}}</b></li>
    {% endfor %}
    </ol>
{% else %}
    <p>No suppliers are available.</p>
{% endif %}

<h2>Upload:</h2>
<form action="{% url 'invoiceparser:upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="invoice">
    <input type="submit" name="submit" value="Parse" class="button">
</form>

{% if extracted_text %}
    <h3>Invoice</h3>
    <form action="{% url 'invoiceparser:create' extracted_text.supplier_id %}" method="post">
        {% csrf_token %} 
        <h5>Invoice Information</h5>
        <div class="invoice-container info-container">
            <label for="invoice_date">Invoice Date</label>
            <input type="text" name="invoice_date" value="{{ extracted_text.invoice_date }}"><br>
            <label for="invoice_number">Invoice Number</label>
            <input type="text" name="invoice_number" value="{{ extracted_text.invoice_number }}"><br>
        </div>
        <h5>Invoice Items</h5>
        {% for item_key, item, price_key, price in extracted_text.line_items %}
            <div class="invoice-container item-container">
                <label for="{{ item_key  }}" >Invoice Item</label>
                <textarea name="{{ item_key  }}" rows="3" cols="30">{{ item }}</textarea>
                {% comment %} <input type="text" name="{{ item_key  }}"  value="{{ item }}" class="form-input"><br> {% endcomment %}
                <label for="{{ price_key }}" >Item Price</label>
                <input type="text" name="{{ price_key }}" value="{{ price }}"><br>
            </div>
        {% endfor %}
        <input type="submit" value="Save" class="button">
    </form>
{% endif %}